.searchBar {
  input {
    padding: 8px;
    background-color: transparent;
    font-size: 18px;
    color: #fff;
    border: none;
    border-bottom: 2px solid #fff;
    outline: none;
  }

  @media screen and (max-width: 768px){
    input[name="year"] {
      display: none;
    }
  }
}