.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 6vw 18px 6vw;
  margin-bottom: 30px;
  background-color: #232323;

  .logo {
    display: flex;
    align-items: center;
    margin-right: 30px;
    cursor: pointer;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: .5px;

    img {
      height: 24px;
      margin: 2px 4px 0 0;
    }

    .logoText {
      span {
        font-weight: bold;
      }
    }

  }

  .searchContainer {
    width: 100%;
    display: flex;
    justify-content: flex-end;

    .searchTitle {
      width: 300px;
      margin-right: 10px;
    }
    .searchYear {
      input {
        width: 150px;
      }
      @media screen and (max-width: 768px){
        input {
          display: none;
        }
      }
    }

    .searchIcon {
      display: flex;
      align-items: center;
      margin-left: 8px;
      font-size: 18px;
      padding-top: 2px;

      svg {
        cursor: pointer;
      }
    }
  }
}