.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 6vw;
  padding: 20px 0;

  .logo {
    margin-right: 30px;
  }

  .searchContainer {
    width: 100%;
  }
}